<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 每日一题打卡 2020</span>
        </div>
        <div class="copyright text-center my-auto">
            <span>京ICP备19006885号-4</span>
        </div>
        <div class="copyright text-center my-auto">
            <!-- <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278673160'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1278673160%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script> -->
        </div>
    </div>
</footer>
